https://prnt.sc/XEZ3kKaQKT9B image issue --fixed
https://prnt.sc/wUBRFLtx3dGX issue --fixed
https://prnt.sc/iaB21lOU8T9o on thumbnail it's show ony one tag and cat's because there are many tag's and cat's on a post https://prnt.sc/iaB21lOU8T9o --fixed
https://prnt.sc/xoCK6x96cNKG broken code --fixed
https://prnt.sc/sgSsuqGZWRvx please recheck spacing for all quote post Fixed 
https://prnt.sc/3VEGLhb0JBX1 hover issue Fixed
https://prnt.sc/AXdzIB8EFIVn it's look ugla replace it before submit btn Fixed
https://prnt.sc/SHN4ky7mJTXd uggla width 
https://prnt.sc/SJiAv-Sdhfo- hover transtion fixed 
https://prnt.sc/vINRYh4QNluz hover transtion fixed
https://prnt.sc/LDuLyvyl_o3i check the border btn Fixed
https://prnt.sc/fY_M1Cna5Jlt Fixed
https://prnt.sc/xoz6FgmxRtf1 make top and button spacing same fixed
https://prnt.sc/SmHim4ZokaVn make top and button spacing same Fixed
https://prnt.sc/5A0bNWVvEg8v make same spacing Fixed
https://prnt.sc/vvh4eIp07rMR fixed
https://prnt.sc/7az-S2Ji1HmV remove bg and make it as a plane list math with unittest demo  fixed
https://prnt.sc/5uQDAH28z784 spacing issue please check each sidebar box fixed
https://prnt.sc/dvKN49B6bPib fix it fixed 
https://prnt.sc/_toJB9EKvl3U remove spacing Not found the solution

new issue 
https://prnt.sc/90c981KjYZNZ sticky header spacing issue and use a bottom box shadwo Fixed


http://localhost/consen/2018/11/01/blocks-embeds/ 
height:auto diyesi prb hobe ??